<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Permission Management</title>
</head>
<body>
    <h1>Everything fine whirlwind of facha?</h1>
    <% if @already_admin == 1 %>
        <p>You are already an admin, what level!.</p>
        <form action="/remove_me_from_admins_please" method="POST" style="display:inline;">
            <button type="submit" class="btn-view">I don't want to be an admin anymore</button>
        </form>
    <% else %>
        <form action="/verify_admin_password" method="POST" style="display:inline;">
            <label for="entered_pw"> Password for admin permissions: </label>
            <input type="password" id="entered_pw" name="entered_pw" required>
            <button type="submit"> Verify </button>
        </form>

        <% if session[:admin_pw_verified] %>
            <p> Correct password. Click to obtain admin permissions. </p>
            <form action="/give_me_admin_please" method="POST" style="display:inline;">
                <button type="submit"> I want to be an admin </button>
            </form>
        <% elsif params[:error] == 'invalid_password' %>
            <p style="color:red;"> Incorrect password. Please try again. </p>
        <% end %>
    <% end %>

    <div> <a href="/">Back to Home</a> </div>
</body>
</html>
