<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error - User Already Exists</title>
</head>
<body>
    <h1>Error: User Already Exists</h1>
    <p>An user with that username or email already exists. Please try a different one.</p>
    <div> <a href="/register">Back to Register</a> </div>
    <div> <a href="/">Back to Home</a> </div>
</body>
</html>
