<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error - Missing Fields</title>
</head>
<body>
    <h1>Error: Missing Fields</h1>
    <p>Fields Username, Name, Email and Password must be filled out. Please try again.</p>
    <div> <a href="/register">Back to Register</a> </div>
    <div> <a href="/">Back to Home</a> </div>
</body>
</html>
