<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Error - No Valid Token Api Key Provided</title>
  </head>
  <body>
    <h1>Error: No Valid Token Api Key Provided</h1>
    <p>Hubo un error en validar el Token de Open AI</p>
    <div> <a href="/practice">Back to Practice</a> </div>
    <div> <a href="/">Back to Home</a> </div>
  </body>
</html>
