<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/register.css">
    <title> Unify, Register </title>
  </head>
  <body>
    <div class= "card">
      <div class="logo">
        <img src="media/logo.png">
      </div>
      <div class="titulo">
        <h1><strong> Register an account </strong></h1>
        <% if @isAnUserPresent %>
          <h2><strong> You are already logged-in </strong></h2>
          <a href="/" style='color:#ffffff'> Home </a>
          <form action="/logout" method="post" class="logout-form">
            <button type="submit"> Logout </button>
          </form>
        <% else %>
          <h3>Sign up and get started inmediately :)</h3>
          <form action="/register" method="post" class="register-form">
            <div style="margin-bottom: 10px;">
              <label for="username"> Username: </label>
              <input type="text" id="username" name="username" required>
            </div>
            <div style="margin-bottom: 10px;">
              <label for="name"> Name: </label>
              <input type="text" id="name" name="name" required>
            </div>
            <div style="margin-bottom: 10px;">
              <label for="lastname"> Last Name: </label>
              <input type="text" id="lastname" name="lastname">
            </div>
            <div style="margin-bottom: 10px;">
              <label for="cellphone"> Cellphone: </label>
              <input type="text" id="cellphone" name="cellphone">
            </div>
            <div style="margin-bottom: 10px;">
              <label for="email"> Email: </label>
              <input type="text" id="email" name="email" required>
            </div>
            <div style="margin-bottom: 10px;">
              <label for="password"> Password: </label>
              <input type="password" id="password" name="password" required>
            </div>
            <button type="submit"> Register </button>
          </form>
          <div class="register-link">
            <p> Already have an account? </p>
            <a href="/login" style='color:#ffffff'> Login </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </body>
</html>