/* Estilos generales del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 20px;
    position: relative;
}

/* Estilos para el formulario */
form {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 30px;
    background-color: #ffffff; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

/* Estilos para las etiquetas */
label {
    font-weight: bold; 
    margin-right: 10px; 
}

/* Estilos para el select */
select {
    padding: 10px; 
    border: 2px solid #3e2bbc;
    border-radius: 5px;
    background-color: #f0f0f5; 
    font-size: 1em; 
    transition: border-color 0.3s; 
}

/* Estilo para el botón */
button {
    background-color: #3e2bbc; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    margin-left: 10px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s, transform 0.3s;
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
    background-color: #4338a1;
    transform: scale(1.05);
}

/* Contenedor de estadísticas */
.statistics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Estilo para el título */
h1 {
    font-size: 2em; 
    color: #3e2bbc; 
    margin-bottom: 20px; 
}

/* Estilos para las columnas de preguntas */
.column {
    background-color: #3e2bbc; 
    border-radius: 8px; 
    padding: 20px; 
    width: 100%; 
    max-width: 600px;
    color: white; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

/* Estilos para la lista */
ul {
    padding: 0;
    list-style-type: none;
}

/* Estilos para los elementos de la lista */
li {
    margin: 10px 0; 
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px; 
    transition: background-color 0.3s;
}

/* Efecto al pasar el cursor sobre los elementos de la lista */
li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.logo.top-left {
    position: absolute;
    top: 20px; /* Ajusta según el espacio que necesites */
    left: 20px;
    width: 220px; /* Ajusta el tamaño según prefieras */
    height: auto;
}
