<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error - Document is not a pdf</title>
</head>
<body>
    <h1>Error: Document is not a pdf</h1>
    <p>Please try a different document.</p>
    <div> <a href="/practice">Back to Practice</a> </div>
    <div> <a href="/">Back to Home</a> </div>
</body>
</html>
