<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/status404.css">
    <title>Error 404 - Unify</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>UNIFY</h1>
        </header>
        <main>
            <h2>ERROR 404</h2>
            <p>PAGE NOT FOUND, PLEASE GO BACK</p>
            <a href="/" class="order-now">RETURN TO HOME</a>
        </main>
        <section class="call-to-action">
            <p>IMPROVE YOUR KNOWLEDGE WITH OUR AI-GENERATED QUESTIONS</p>
            <a href="/practice" class="contact-us">PRACTICE NOW</a>
        </section>
        <footer>
            <div class="footer-info">
                <h4>INFORMATION</h4>
                <ul>
                    <a href="/#us"><li>About Unify</li></a>
                    <li>Our Services</li>
                    <li>Projects</li>
                    <li>Portfolio</li>
                </ul>
            </div>
            <div class="footer-nav">
                <h4>NAVIGATION</h4>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/login"><li>Sign In</li></a>
                    <a href="/register"><li>Register</li></a>
                </ul>
            </div>
            <div class="footer-contact">
                <h4>CONTACT US</h4>
                <p>contact@unify.com</p>
                <input type="email" placeholder="Your email address">
                <button>SUBSCRIBE</button>
            </div>
        </footer>
    </div>
</body>
</html>
